<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/assets/css/test.css" />

    <title>Dự đoán bệnh</title>
</head>

<body>
    <div>
        <h1 style="text-align:center;font-size:2rem; margin-bottom: 0px;">Predict Tomato Leaf Disease & Get Cure</h1>
    </div>
   <br>
   <br>
    <div>
        <div class="details">
            <h1 class="text-d3">
                {{pred_output}} </h1>
        </div>
        <div class="row">
            <div class="col-sm">
                <span>
                    <img src="{{url_for('static',filename = 'assets/img/background/anh-nen-la-cay-va-giot-nuoc_125620128.jpg' )}}" alt="User Image" style="width:500px;height:500px;">
                </span>
            </div>
            <div class="col-sm1">
                <div class="details3">
                    <h4 class="text-d1"><b> Cách chữa trị : </b> </h4>
                </div>
                <div class="details1">	
                    <h6 class="text-d2">  
                        Cà chua bị bệnh bạc lá sớm cần được chăm sóc ngay trước khi bệnh tấn công cây. Phun kỹ cây (cả phần dưới của lá) bằng chất cô đặc thuốc diệt nấm đồng lỏng Bonide hoặc Bonide Tomato & Rau. Cả hai phương pháp xử lý này đều là hữu cơ.
                    </h6>
                </div>
            </div>
        </div>
        <button onclick="goBack()">Back</button>
    </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>

</html>