<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/assets/css/test.css" />

    <title>Dự đoán bệnh</title>
</head>

<body>
    <div>
        <h1 style="text-align:center;font-size:2rem; margin-bottom: 0px;">Predict Tomato Leaf Disease & Get Cure</h1>
    </div>
   <br>
   <br>
    <div>
        <div class="details">
            <h1 class="text-d3">
                {{pred_output}} </h1>
        </div>
        <div class="row">
            <div class="col-sm">
                <span>
                    <img src="{{url_for('static',filename = 'assets/img/background/anh-nen-la-cay-va-giot-nuoc_125620128.jpg' )}}" alt="User Image" style="width:500px;height:500px;">
                </span>
            </div>
            <div class="col-sm1">
                <div class="details3">
                    <h4 class="text-d1"><b> Cách chữa trị : </b> </h4>
                </div>
                <div class="details1">	
                    <h6 class="text-d2">  
                        Những cành cắt tỉa và quả ướp xác bị nhiễm bệnh phải được loại bỏ, đốt và/hoặc chôn trong đất trước khi cây mới bắt đầu phát triển vào mùa xuân. Ở những vườn nho có các giống mẫn cảm hoặc nơi bệnh thối đen đã xảy ra vào năm trước, nên phun thuốc diệt nấm vào đầu mùa để ngăn ngừa nhiễm trùng sớm nhất. Nếu nhiễm trùng trở nên nhiều, việc bảo vệ chống thối quả là rất khó khăn vào cuối mùa sinh trưởng. Khuyến khích trồng các giống kháng bệnh.
                    </h6>
                </div>
            </div>
        </div>
        <button onclick="goBack()">Back</button>
    </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>

</html>