<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="static/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="static/assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>IOT</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />


	<!-- Bootstrap core CSS     -->
	<link href="static/assets/css/bootstrap.min.css" rel="stylesheet" />

	<!--  Paper Dashboard core CSS    -->
	<link href=" static/assets/css/paper-dashboard.css" rel="stylesheet" />


	<!--  CSS for Demo Purpose, don't include it in your project     -->
	<link href="static/assets/css/demo.css" rel="stylesheet" />


	<!--  Fonts and icons     -->
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
	<link href="static/assets/css/themify-icons.css" rel="stylesheet">
</head>

<body>
	<div class="wrapper">
		<div class="sidebar" data-background-color="brown" data-active-color="danger">

			<div class="logo">
				<a href="http://www.creative-tim.com" class="simple-text logo-mini">
					CT
				</a>

				<a href="http://www.creative-tim.com" class="simple-text logo-normal">
					Creative Tim
				</a>
			</div>
			<div class="sidebar-wrapper">
				<div class="user">
					<div class="info">
						<div class="photo">
							<img src="static/assets/img/faces/face-2.jpg" />
						</div>

						<a data-toggle="collapse" href="#collapseExample" class="collapsed">
							<span>
								Chet Faker
								<b class="caret"></b>
							</span>
						</a>
						<div class="clearfix"></div>

						<div class="collapse" id="collapseExample">
							<ul class="nav">
								<li>
									<a href="#profile">
										<span class="sidebar-mini">Mp</span>
										<span class="sidebar-normal">My Profile</span>
									</a>
								</li>
								<li>
									<a href="#edit">
										<span class="sidebar-mini">Ep</span>
										<span class="sidebar-normal">Edit Profile</span>
									</a>
								</li>
								<li>
									<a href="#settings">
										<span class="sidebar-mini">S</span>
										<span class="sidebar-normal">Settings</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<ul class="nav">
					<li class="active">
						<a data-toggle="collapse" href="#dashboardOverview" aria-expanded="true">
							<i class="ti-panel"></i>
							<p>Dashboard
								<b class="caret"></b>
							</p>
						</a>
						<div class="collapse in" id="dashboardOverview">
							<ul class="nav">
								<li class="active">
									<a href="/">
										<span class="sidebar-mini">O</span>
										<span class="sidebar-normal">Overview</span>
									</a>
								</li>
								<li>
									<a href="/camera">
										<span class="sidebar-mini">C</span>
										<span class="sidebar-normal">Camera</span>
									</a>
								</li>
								<li>
									<a href="/history">
										<span class="sidebar-mini">H</span>
										<span class="sidebar-normal">History</span>
									</a>
								</li>
							</ul>
						</div>
					</li>

				</ul>
			</div>
		</div>

		<div class="main-panel">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-minimize">
						<button id="minimizeSidebar" class="btn btn-fill btn-icon"><i class="ti-more-alt"></i></button>
					</div>
					<div class="navbar-header">
						<button type="button" class="navbar-toggle">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar bar1"></span>
							<span class="icon-bar bar2"></span>
							<span class="icon-bar bar3"></span>
						</button>
						<a class="navbar-brand" href="#Dashboard">
							Overview
						</a>
					</div>
					<div class="collapse navbar-collapse">

						<ul class="nav navbar-nav navbar-left">
							<li>
								<a href="#">
									<button id="autoModeButton" class="center btn btn-success btn-fill btn-wd">Chế độ tự
										động</button>
								</a>

							</li>
							<li>
								<a href="#">
									<button class="btn btn-success" onclick="handleClickManualOn()">Bật</button>
								</a>
							</li>
							<li>
								<a href="#">
									<button class="btn btn-danger" onclick="handleClickManualOff()">Tắt</button>
								</a>
							</li>
						</ul>

						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="#stats" class="dropdown-toggle btn-magnify" data-toggle="dropdown">
									<i class="ti-panel"></i>
									<p>Stats</p>
								</a>
							</li>
							<li class="dropdown">
								<a href="#notifications" class="dropdown-toggle btn-rotate" data-toggle="dropdown">
									<i class="ti-bell"></i>
									<span class="notification">5</span>
									<p class="hidden-md hidden-lg">
										Notifications
										<b class="caret"></b>
									</p>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#not1">Notification 1</a></li>
									<li><a href="#not2">Notification 2</a></li>
									<li><a href="#not3">Notification 3</a></li>
									<li><a href="#not4">Notification 4</a></li>
									<li><a href="#another">Another notification</a></li>
								</ul>
							</li>
							<li>
								<a href="#settings" class="btn-rotate">
									<i class="ti-settings"></i>
									<p class="hidden-md hidden-lg">
										Settings
									</p>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>

			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-3 col-sm-6">
							<div class="card">
								<div class="card-content">
									<div class="row">
										<div class="col-xs-5">
											<div class="icon-big icon-warning text-center">
												<i class="ti-shine"></i>
											</div>
										</div>
										<div class="col-xs-7">
											<div class="numbers">
												<p id="cuong_do_anh_sang">Cuong Do Anh Sang: N/A</p>
												<!-- {{data.cuong_do_anh_sang}} lux -->
											</div>
										</div>
									</div>
								</div>
								<div class="card-footer">
									<hr />
									<div class="stats">
										<p id="lightMessage">Đèn quang hợp </p>
										<button id="controlButton1" class="btn btn-success mb-1"
											onclick="handleClickLightOn()">Bật</button>
										<button id="controlButton2" class="btn btn-danger"
											onclick="handleClickLightOff()">Tắt</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="card">
								<div class="card-content">
									<div class="row">
										<div class="col-xs-5">
											<div class="icon-big icon-info text-center">
												<i class="ti-paint-bucket"></i>
											</div>
										</div>
										<div class="col-xs-7">
											<div class="numbers">
												<p id="do_am_dat">Do Am Dat: N/A</p>
												<!-- {{data.do_am_dat}}% -->
											</div>
										</div>
									</div>
								</div>
								<div class="card-footer">
									<hr />
									<div class="stats">
										<p id="pumpMessage">Máy Bơm </p>
										<button id="controlButton3" class="btn btn-success mb-1"
											onclick="handleClickPumptOn()">Bật</button>
										<button id="controlButton4" class="btn btn-danger"
											onclick="handleClickPumptOff()">Tắt</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="card">
								<div class="card-content">
									<div class="row">
										<div class="col-xs-5">
											<div class="icon-big icon-success text-center">
												<i class="ti-control-record"></i>
											</div>
										</div>
										<div class="col-xs-7">
											<div class="numbers">
												<p id="nhiet_do">Nhiet Do: N/A</p>
												<!-- {{data.nhiet_do}}°C -->
											</div>
										</div>
									</div>
								</div>
								<div class="card-footer">
									<hr />
									<div class="stats">
										<i class="ti-calendar"></i> Last day
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="card">
								<div class="card-content">
									<div class="row">
										<div class="col-xs-5">
											<div class="icon-big icon-danger text-center">
												<i class="ti-cloud"></i>
											</div>
										</div>
										<div class="col-xs-7">
											<div class="numbers">
												<p id="do_am">Do Am: N/A</p>
												<!-- {{data.do_am}}% -->
											</div>
										</div>
									</div>
								</div>
								<div class="card-footer">
									<hr />
									<div class="stats">
										<i class="ti-timer"></i> In the last hour
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="row">
						<div class="col-lg-6 col-sm-6">
							<div class="card">
								<div class="card-content">

									<div id="chart-cuong-do-anh-sang" class="ct-chart"></div>
								</div>
								<div class="card-footer">
									<hr>
									<div class="footer-title">Cường độ ánh sáng</div>
									<div class="pull-right">
										<div>
											<p id="time1"></p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-sm-6">
							<div class="card">
								<div class="card-content">
									<div id="chart-do-am" class="ct-chart"></div>
								</div>
								<div class="card-footer">
									<hr>
									<div class="footer-title">Độ ẩm</div>
									<div class="pull-right">
										<div>
											<p id="time2"></p>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="row">
						<div class="col-lg-6 col-sm-6">
							<div class="card">
								<div class="card-content">
									<div id="chart-nhiet-do" class="ct-chart"></div>
								</div>
								<div class="card-footer">
									<hr>
									<div class="footer-title">Nhiệt độ</div>
									<div class="pull-right">
										<!-- <label for="upload"> -->
										<!-- <span class="btn btn-success btn-fill btn-icon btn-sm">
										      	<i class="ti-plus"></i>
												<input type="file" id="upload" style="display:none"> -->
										<!-- </span>
										</label> -->
										<div>
											<p id="time3"></p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-sm-6">
							<div class="card">
								<div class="card-content">
									<div id="chart-do-am-dat" class="ct-chart"></div>
								</div>
								<div class="card-footer">
									<hr>
									<div class="footer-title">Độ ẩm đất</div>
									<div class="pull-right">
										<div>
											<p id="time4"></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<footer class="footer">
				<div class="container-fluid">
				</div>
			</footer>
		</div>
	</div>
</body>
<!--   Core JS Files. Extra: TouchPunch for touch library inside jquery-ui.min.js   -->
<script src="static/assets/js/jquery-3.1.1.min.js" type="text/javascript"></script>
<script src="static/assets/js/jquery-ui.min.js" type="text/javascript"></script>
<script src="static/assets/js/perfect-scrollbar.min.js" type="text/javascript"></script>
<script src="static/assets/js/bootstrap.min.js" type="text/javascript"></script>


<!--  Switch and Tags Input Plugins -->
<script src="static/assets/js/bootstrap-switch-tags.js"></script>

<!-- Circle Percentage-chart -->
<script src="static/assets/js/jquery.easypiechart.min.js"></script>

<!--  Charts Plugin -->
<script src="static/assets/js/chartist.min.js"></script>


<!-- Paper Dashboard PRO Core javascript and methods for Demo purpose -->
<script src="static/assets/js/paper-dashboard.js"></script>

<!-- Paper Dashboard PRO DEMO methods, don't include it in your project! -->
<script src="static/assets/js/demo.js"></script>

<script type="text/javascript">
	$(document).ready(function () {
		demo.initOverviewDashboard();
		demo.initCirclePercentage();

	});
</script>

</html>

<script>

	function generateLabels() {
		var labels = [];
		var now = new Date();
		for (var i = 0; i < 12; i++) {
			var formattedTime = now.toLocaleTimeString('vi-VN', { second: '2-digit' });
			var Time = now.toLocaleTimeString('vi-VN', { hour: '2-digit', minute: '2-digit' });
			labels.push(formattedTime);
			now.setSeconds(now.getSeconds() + 5);  // Increment by 5 seconds
		}
		document.getElementById("time1").textContent = Time;
		document.getElementById("time2").textContent = Time;
		document.getElementById("time3").textContent = Time;
		document.getElementById("time4").textContent = Time;
		return labels;
	}


	// Function to fetch and update data
	async function fetchData() {
		try {
			const response = await fetch('/received_data');
			const respData = await response.json();
			const data = JSON.parse(respData);

			const lightStatus = data.light_status;
			const pumpStatus = data.pump_status;
			const autoModeStatus = data.autoMode;

			

			// if (lightStatus === "1") {
			// 	console.log("Light on");

			// 	// If lightStatus is "1", update the button with id "controlButton1" to selected
			// 	lightMessage.textContent = "Đèn quang hợp đang bật";
			// 	lightMessage.style.color = "green";

			// } else if (lightStatus === "0") {
			// 	console.log("Light off");
			// 	// If lightStatus is "0", update the button to unselected
			// 	lightMessage.textContent = "Đèn quang hợp đang tắt";
			// 	lightMessage.style.color = "red";
			// }

			// if (pumpStatus === "1") {
			// 	console.log("Pump on");

			// 	// If lightStatus is "1", update the button with id "controlButton1" to selected
			// 	pumpMessage.textContent = "Máy bơm đang bật";
			// 	pumpMessage.style.color = "green";

			// } else if (pumpStatus === "0") {
			// 	console.log("Pump off");
			// 	// If lightStatus is "0", update the button to unselected
			// 	pumpMessage.textContent = "Máy bơm đang tắt";
			// 	pumpMessage.style.color = "red";
			// }
			document.getElementById('autoModeButton').textContent = "Chế độ tự động: " + autoModeStatus;
			document.getElementById('lightMessage').textContent='Đèn quang hợp đang '+data.light_status;
			document.getElementById('pumpMessage').textContent='Máy bơm đang '+data.pump_status;
			document.getElementById('do_am').textContent = `Do Am: ` + data.do_am + `%`;
			document.getElementById("nhiet_do").textContent = "Nhiet Do: " + data.nhiet_do + '°C';
			document.getElementById("do_am_dat").textContent = "Do Am Dat: " + data.do_am_dat + `%`;
			document.getElementById("cuong_do_anh_sang").textContent = "Cuong Do Anh Sang: " + data.cuong_do_anh_sang + ' lux';

			updateChartCuongDoAnhSang(data.cuong_do_anh_sang);
			updateChartNhietDo(data.nhiet_do);
			updateChartDoAm(data.do_am);
			updateChartDoAmDat(data.do_am_dat);
		} catch (error) {
			console.error('Error fetching data:', error);
		}

		// updateChartCuongDoAnhSang(0);
		// updateChartNhietDo(0);
		// updateChartDoAm(0);
		// updateChartDoAmDat(0);
	}

	fetchData();
	// Fetch and update data every 5 seconds (adjust the interval as needed)
	setInterval(fetchData, 5000);



	var optionsPerformanceCDAS = {
		showPoint: false,
		lineSmooth: true,
		height: "200px",
		axisX: {
			showGrid: false,
			showLabel: true
		},
		axisY: {
			offset: 40,
		},
		low: 0,
		high: 1000,
		height: "250px"
	};


	// Function to generate labels for the chart


	var dataPerformanceCDAS = {
		labels: generateLabels(),
		series: [generateSeriesCDAS()]
	};

	var chartCuongDoAnhSang = new Chartist.Line('#chart-cuong-do-anh-sang', dataPerformanceCDAS, optionsPerformanceCDAS);

	// Function to generate random series data
	function generateSeriesCDAS() {
		var series = [];
		for (var i = 0; i < 12; i++) {
			series.push(0);
		}
		return series;
	}

	// Function to update the chart with new series data
	function updateChartCuongDoAnhSang(cuong_do_anh_sang) {
		dataPerformanceCDAS.labels.shift(); // Remove the first label
		dataPerformanceCDAS.labels.push(generateLabels()[11]); // Add a new label with seconds only
		dataPerformanceCDAS.series[0].shift(); // Remove the first value
		dataPerformanceCDAS.series[0].push(cuong_do_anh_sang); // Generate and add a new random value
		chartCuongDoAnhSang.update(dataPerformanceCDAS);
	}


	var optionsPerformanceND = {
		showPoint: false,
		lineSmooth: true,
		height: "200px",
		axisX: {
			showGrid: false,
			showLabel: true
		},
		axisY: {
			offset: 40,
		},
		low: 0,
		high: 100,
		height: "250px"
	};


	// Function to generate labels for the chart


	var dataPerformanceND = {
		labels: generateLabels(),
		series: [generateSeriesND()]
	};

	var chartNhietDo = new Chartist.Line('#chart-nhiet-do', dataPerformanceND, optionsPerformanceND);

	// Function to generate random series data
	function generateSeriesND() {
		var series = [];
		for (var i = 0; i < 12; i++) {
			series.push(0);
		}
		return series;
	}

	// Function to update the chart with new series data
	function updateChartNhietDo(nhiet_do) {
		dataPerformanceND.labels.shift(); // Remove the first label
		dataPerformanceND.labels.push(generateLabels()[11]); // Add a new label with seconds only
		dataPerformanceND.series[0].shift(); // Remove the first value
		dataPerformanceND.series[0].push(nhiet_do); // Generate and add a new random value
		chartNhietDo.update(dataPerformanceND);
	}

	var optionsPerformanceDA = {
		showPoint: false,
		lineSmooth: true,
		height: "200px",
		axisX: {
			showGrid: false,
			showLabel: true
		},
		axisY: {
			offset: 40,
		},
		low: 0,
		high: 100,
		height: "250px"
	};


	// Function to generate labels for the chart


	var dataPerformanceDA = {
		labels: generateLabels(),
		series: [generateSeriesDA()]
	};

	var chartDoAm = new Chartist.Line('#chart-do-am', dataPerformanceDA, optionsPerformanceDA);

	// Function to generate random series data
	function generateSeriesDA() {
		var series = [];
		for (var i = 0; i < 12; i++) {
			series.push(0);
		}
		return series;
	}

	// Function to update the chart with new series data
	function updateChartDoAm(do_am) {
		dataPerformanceDA.labels.shift(); // Remove the first label
		dataPerformanceDA.labels.push(generateLabels()[11]); // Add a new label with seconds only
		dataPerformanceDA.series[0].shift(); // Remove the first value
		dataPerformanceDA.series[0].push(do_am); // Generate and add a new random value
		chartDoAm.update(dataPerformanceDA);
	}


	var optionsPerformanceDAD = {
		showPoint: false,
		lineSmooth: true,
		height: "200px",
		axisX: {
			showGrid: false,
			showLabel: true
		},
		axisY: {
			offset: 40,
		},
		low: 0,
		high: 100,
		height: "250px"
	};


	// Function to generate labels for the chart


	var dataPerformanceDAD = {
		labels: generateLabels(),
		series: [generateSeriesDAD()]
	};

	var chartDoAmDat = new Chartist.Line('#chart-do-am-dat', dataPerformanceDAD, optionsPerformanceDAD);

	// Function to generate random series data
	function generateSeriesDAD() {
		var series = [];
		for (var i = 0; i < 12; i++) {
			series.push(0);
		}
		return series;
	}

	// Function to update the chart with new series data
	function updateChartDoAmDat(do_am_dat) {
		dataPerformanceDAD.labels.shift(); // Remove the first label
		dataPerformanceDAD.labels.push(generateLabels()[11]); // Add a new label with seconds only
		dataPerformanceDAD.series[0].shift(); // Remove the first value
		dataPerformanceDAD.series[0].push(do_am_dat); // Generate and add a new random value
		chartDoAmDat.update(dataPerformanceDAD);
	}

	function submitForm(action) {
		var form = document.createElement("form");
		form.setAttribute("method", "get");
		form.setAttribute("action", "/process");

		var hiddenField = document.createElement("input");
		hiddenField.setAttribute("type", "hidden");
		hiddenField.setAttribute("name", "do");
		hiddenField.setAttribute("value", action);
		form.appendChild(hiddenField);

		document.body.appendChild(form);
		form.submit();
	}

	// Hàm gọi AJAX
	function handleClickManualOn() {
		var autoModeButton = document.getElementById('autoModeButton');
		if (autoModeButton) {
			// Update the class from "btn-success" to "btn-danger"
			autoModeButton.classList.remove('btn-danger');
			autoModeButton.classList.add('btn-success');

			autoModeButton.textContent = "Chế độ tự động: ON";

			var otherButton1 = document.getElementById('controlButton1');
			var otherButton2 = document.getElementById('controlButton2');
			var otherButton3 = document.getElementById('controlButton3');
			var otherButton4 = document.getElementById('controlButton4');

			otherButton1.disabled = true;
			otherButton2.disabled = true;
			otherButton3.disabled = true;
			otherButton4.disabled = true;

		}

		fetch('/turn_on_auto', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
			},
		})
			.then(response => {
				if (response.ok) {
					console.log('Auto mode turn on successfully');
				} else {
					console.error('Error turning on Auto mode');
				}
			})
			.catch(error => {
				console.error('Error:', error);
			});

	}

	function handleClickManualOff() {
		var autoModeButton = document.getElementById('autoModeButton');
		if (autoModeButton) {
			// Update the class from "btn-success" to "btn-danger"
			autoModeButton.classList.remove('btn-success');
			autoModeButton.classList.add('btn-danger');

			autoModeButton.textContent = "Chế độ tự động: OFF";

			var otherButton1 = document.getElementById('controlButton1');
			var otherButton2 = document.getElementById('controlButton2');
			var otherButton3 = document.getElementById('controlButton3');
			var otherButton4 = document.getElementById('controlButton4');

			otherButton1.disabled = false;
			otherButton2.disabled = false;
			otherButton3.disabled = false;
			otherButton4.disabled = false;
		}
		fetch('/turn_off_auto', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
			},
		})
			.then(response => {
				if (response.ok) {
					console.log('Auto mode turn off successfully');
				} else {
					console.error('Error turning off Auto mode');
				}
			})
			.catch(error => {
				console.error('Error:', error);
			});
	}

	function handleClickLightOn() {
		var lightMessage = document.getElementById('lightMessage');
		// lightMessage.textContent = "Đèn quang hợp đang ON";
		lightMessage.setAttribute("style", "color: green");

		fetch('/turn_on_relay2', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
			},
			body: JSON.stringify({ relay: 1 }),
		})
			.then(response => {
				if (response.ok) {
					console.log('Relay 1 turned on successfully');
				} else {
					console.error('Error turning on Relay 1');
				}
			})
			.catch(error => {
				console.error('Error:', error);
			});

	}

	function handleClickLightOff() {
		var lightMessage = document.getElementById('lightMessage');
		// lightMessage.textContent = "Đèn quang hợp đang OFF";
		lightMessage.setAttribute("style", "color: red");
		
		fetch('/turn_off_relay2', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
			},
			body: JSON.stringify({ relay: 1 }),
		})
			.then(response => {
				if (response.ok) {
					console.log('Relay 1 turned on successfully');
				} else {
					console.error('Error turning on Relay 1');
				}
			})
			.catch(error => {
				console.error('Error:', error);
			});

	}

	function handleClickPumptOn() {
		var pumpMessage = document.getElementById('pumpMessage');
		// pumpMessage.textContent = "Máy bơm đang ON";
		pumpMessage.setAttribute("style", "color: green");
		fetch('/turn_on_relay1', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
			},
			body: JSON.stringify({ relay: 2 }),
		})
			.then(response => {
				if (response.ok) {
					console.log('Relay 2 turned on successfully');
				} else {
					console.error('Error turning on Relay 2');
				}
			})
			.catch(error => {
				console.error('Error:', error);
			});

	}

	function handleClickPumptOff() {
		var pumpMessage = document.getElementById('pumpMessage');
		// pumpMessage.textContent = "Máy bơm đang OFF";
		pumpMessage.setAttribute("style", "color: red");
		fetch('/turn_off_relay1', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
			},
			body: JSON.stringify({ relay: 2 }),
		})
			.then(response => {
				if (response.ok) {
					console.log('Relay 2 turned off successfully');
				} else {
					console.error('Error turning off Relay 1');
				}
			})
			.catch(error => {
				console.error('Error:', error);
			});
	}




</script>