<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/assets/css/test.css" />

    <title>Dự đoán bệnh</title>
</head>

<body>
    <div>
        <h1 style="text-align:center;font-size:2rem; margin-bottom: 0px;">Predict Tomato Leaf Disease & Get Cure</h1>
    </div>
   <br>
   <br>
    <div>
        <div class="details">
            <h1 class="text-d3">
                {{pred_output}} </h1>
        </div>
        <div class="row">
            <div class="col-sm">
                <span>
                    <img src="{{url_for('static',filename = 'assets/img/background/anh-nen-la-cay-va-giot-nuoc_125620128.jpg' )}}" alt="User Image" style="width:500px;height:500px;">
                </span>
            </div>
            <div class="col-sm1">
                <div class="details3">
                    <h4 class="text-d1"><b> Cách chữa trị : </b> </h4>
                </div>
                <div class="details1">	
                    <h6 class="text-d2">  
                        bifenazate (Acramite): Nhóm UN, một chất độc thần kinh tồn dư lâu dài abamectin (Agri-Mek): Nhóm 6, có nguồn gốc từ vi khuẩn đất spirotetramat (Movento): Nhóm 23, chủ yếu ảnh hưởng đến giai đoạn chưa trưởng thành spiromesifen (Oberon 2SC): Nhóm 23, chủ yếu ảnh hưởng đến giai đoạn chưa trưởng thành. Các sản phẩm được liệt kê trong OMRI bao gồm: xà phòng diệt côn trùng (M-Pede)dầu neem (Bộ ba) dầu đậu nành (Dầu phun thuốc trừ sâu vàng) Với hầu hết các loại thuốc diệt bọ ve (không bao gồm bifenazate), phun 2 lần, cách nhau khoảng 5-7 ngày, để giúp kiểm soát bọ ve chưa trưởng thành đang trong giai đoạn trứng và được bảo vệ trong lần phun đầu tiên. Luân phiên giữa các sản phẩm sau 2 lần bôi giúp ngăn ngừa hoặc làm chậm tình trạng kháng thuốc.
                    </h6>
                </div>
            </div>
        </div>
        <button onclick="goBack()">Back</button>
    </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>

</html>